@model IEnumerable<VisFP.Data.DBModels.RgTask>

@{
    ViewData["Title"] = "Задачи по теме \"Регулярные граматики\"";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlphabetNonTerminalsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlphabetTerminalsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChainMinLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGrammarGenerated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAttempts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonTerminalRuleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalRuleCount)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlphabetNonTerminalsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlphabetTerminalsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChainMinLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGrammarGenerated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAttempts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonTerminalRuleCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalRuleCount)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="EditRgTask" asp-route-taskId="@item.TaskId">Изменить</a>
            </td>
        </tr>
}
    </tbody>
</table>
