@model IEnumerable<UserGroup>
@{
    ViewData["Title"] = "Преподавательская зона";
}
<h1>@ViewData["Title"]</h1>
<h3>Параметры задач:</h3>
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            Редактировать параметры задач
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Регулярные граматики</th>
                    <th>Конечные автоматы</th>
                    <th>Сети Петри</th>
                </tr>
                <tr>
                    <th>Тестовый вариант</th>
                    <td><a asp-action="TeacherRgTaskList" asp-route-isControl="false" asp-route-typeName="@Constants.RgType" class="btn btn-info">Изменить</a></td>
                    <td><a asp-action="TeacherRgTaskList" asp-route-isControl="false" asp-route-typeName="@Constants.FsmType" class="btn btn-info">Изменить</a></td>
                    <td><button class="btn btn-info" disabled>Изменить</button></td>
                </tr>
                <tr>
                    <th>Контрольный вариант</th>
                    <td><a asp-action="TeacherRgTaskList" asp-route-isControl="true" asp-route-typeName="@Constants.RgType" class="btn btn-info">Изменить</a></td>
                    <td><a asp-action="TeacherRgTaskList" asp-route-isControl="true" asp-route-typeName="@Constants.FsmType" class="btn btn-info">Изменить</a></td>
                    <td><button class="btn btn-info">Изменить</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<h3>Ваши группы:</h3>
<a class="btn btn-primary" asp-controller="Teacher" asp-action="CreateGroup">Создать группу</a>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>Название</th>
        <th>Групповой доступ</th>
        <th>Описание</th>
        <th>Пользователи</th>
        <th>Id группы</th>
    </tr>
    @foreach (var group in Model)
    {
        <tr>
            <td>
                <a class="btn btn-default" asp-action="EditGroup" asp-route-id="@group.GroupId">Настроить</a>
                <a class="btn btn-primary" asp-action="GroupStat" asp-controller="Statistic" asp-route-id="@group.GroupId">Результаты студентов</a>
            </td>
            <td>@group.Name</td>
            <td>
                @if (group.IsOpen)
                {
                    <span style="color:green">ВКЛЮЧЕН</span>
                }
                else
                {
                    <span style="color:red">ВЫКЛЮЧЕН</span>
                }
            </td>
            <td>@group.Description</td>
            <td>@(group.Members?.Count ?? 0) </td>
            <td>@group.GroupId</td>
        </tr>
    }
</table>