@model TeacherIndexViewModel
@{
    ViewData["Title"] = "Преподавательская зона";
}
<h1>@ViewData["Title"]</h1>
<h3>Параметры задач:</h3>
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            Редактировать параметры задач
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Название модуля</th>
                    <th>Тестовый вариант</th>
                    <th>Контрольный вариант</th>
                </tr>
                @foreach (var module in Model.Modules)
                {
                    <tr>
                        <th>@module.TypeNameForView</th>
                        <td>
                            @if (module.TestAvailable)
                            {
                                <a asp-action="TeacherTaskList" asp-route-isControl="false" asp-route-typeName="@module.TypeName" class="btn btn-info">Изменить</a>
                            }
                            else
                            { 
                                <button class="btn" disabled>Недоступно</button>
                            }
                        </td>
                        <td>
                            @if (module.ControlAvailable)
                            {
                                <a asp-action="TeacherTaskList" asp-route-isControl="true" asp-route-typeName="@module.TypeName" class="btn btn-info">Изменить</a>
                            }
                            else
                            {
                                <button class="btn" disabled>Недоступно</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<h3>Ваши группы:</h3>
<a class="btn btn-primary" asp-controller="Teacher" asp-action="CreateGroup">Создать группу</a>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>Название</th>
        <th>Групповой доступ</th>
        <th>Описание</th>
        <th>Пользователи</th>
        <th>Id группы</th>
    </tr>
    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>
                <a class="btn btn-default" asp-action="EditGroup" asp-route-id="@group.GroupId">Настроить</a>
                <a class="btn btn-primary" asp-action="GroupStat" asp-controller="Statistic" asp-route-id="@group.GroupId">Результаты студентов</a>
            </td>
            <td>@group.Name</td>
            <td>
                @if (group.IsOpen)
                {
                    <span style="color:green">ВКЛЮЧЕН</span>
                }
                else
                {
                    <span style="color:red">ВЫКЛЮЧЕН</span>
                }
            </td>
            <td>@group.Description</td>
            <td>@(group.Members?.Count ?? 0) </td>
            <td>@group.GroupId</td>
        </tr>
    }
</table>