@model IndexViewModel
@{
    ViewData["Title"] = "Главная страница";
}
<h1>@ViewData["Title"]</h1>
@if (Model.IsAdmin)
{
    <a class="btn btn-danger" href="/Admin">Административная зона</a>
}
@if (Model.IsTeacher || Model.IsAdmin)
{
    <a class="btn btn-primary" href="/Teacher">Управление группами и задачами</a>
}
<h2>Выберите раздел задач:</h2>
<div class="list-group col-lg-5">
    @{ int i = 1; }
    @foreach (var tt in Model.TaskTypes)
    {
        <a href="/@tt.TaskTypeControllerName" class="list-group-item">@i. @tt.TaskTypeName <span class="badge">@tt.TasksCount</span></a>
        i++;
    }
</div>

<td>
    <div id="mynetwork">
        <div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;">
            <canvas width="800" height="600" style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"></canvas>
        </div>
    </div>
</td>
<script>
    buildGraph(@Json.Serialize(Model.png),@Html.Raw(Model.png.options));
</script>


@*<script>
    buildGraph(@Html.Raw(@"
{
                'nodes':[
                    {'label':'t1','id':0, image: svgLineImage, shape: 'image'},
        {'label':'t2','id':1, image: svgLineImage, shape: 'image'},
        {'label':'p1','id':2,shape: 'dot'},
        {'label':'p2','id':3,shape: 'dot'},
        {'label':'p3','id':4,shape: 'dot'},
    ],
    'edges':[
        {'id':null,'from':0,'to':2,'arrows':'to'},
        {'id':null,'from':0,'to':3,'arrows':'to'},
        {'id':null,'from':3,'to':0,'arrows':'to'},
        {'id':null,'from':3,'to':1,'arrows':'to'},
        {'id':null,'from':1,'to':4,'arrows':'to'},
    ]}
,{
    nodes: { borderWidth: 2 },
    layout: {
        hierarchical: {
            direction: 'LR'
        },
    },
    physics: {
        enabled: false
    }
}"))
</script>*@