@model VisFP.Models.RGViewModels.ExamVariantViewModel

@{
    ViewData["Title"] = "Контрольный вариант";
}

<h2>@ViewData["Title"]</h2>
<hr />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.CreateDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreateDate)
    </dd>
</dl>
<div>
    <ul>
        @foreach (var problem in Model.Problems)
            {
            <li>
                <a asp-action="Task" asp-route-id="@problem.TaskNumber" asp-route-problemId="@problem.ProblemId">@problem.TaskNumber @problem.TaskTitle</a>
                @switch (problem.State)
                {
                    case ProblemState.FailFinished:
                        {
                            <span style="color:red">FAIL</span>
                            break;
                        }
                    case ProblemState.SuccessFinished:
                        {
                            <span style="color:green">OK</span>
                            break;
                        }
                    case ProblemState.Unfinished:
                        {
                            <span style="color:gray">NEW</span>
                            break;
                        }
                }
            </li>
        }
    </ul>
</div>
