@model AnswerViewModel
<dl class="dl-horizontal">
    <dt>
        Осталось попыток:
    </dt>
    <dd>
        <strong><span id="attemptsCount">@Html.DisplayFor(model => model.LeftAttemptsCount)</span></strong>
    </dd>
</dl>
<input asp-for="TaskProblemId" id="taskProblemId" autocomplete="off" type="hidden" class="form-control" />
<div class="form-horizontal">
    @switch (Model.AnswerType)
    {
        case TaskAnswerType.SymbolsAnswer:
            <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Отметьте необходимые символы</h3>
                    </div>
                    <div class="panel-body" id="answerSymbols">
                        @foreach (var nt in Model.SymbolsCheckBox)
                        {
                            <span class="button-checkbox">
                                <button type="button" class="btn btn-success active" data-color="success">@nt</button>
                                <input class="hidden answerCheckboxes" autocomplete="off" type="checkbox" value="@nt">
                            </span>
                        }
                    </div>
                </div>
            </div>
            break;
        case TaskAnswerType.YesNoAnswer:
            <div class="col-md-offset-2 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Выберите ответ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group col-md-offset-3">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="yes">Да</a>
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="no">Нет</a>
                            </div>
                            <input type="hidden" name="yesNoAnswer" id="yesNoAnswer" value="">
                        </div>
                    </div>
                </div>
            </div>
            break;
        case TaskAnswerType.RadioAnswer:
            <div class="col-md-offset-2 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Выберите ответ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group col-md-offset-3">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="yes">Да</a>
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="no">Нет</a>
                            </div>
                            <input type="hidden" name="yesNoAnswer" id="yesNoAnswer" value="">
                        </div>
                    </div>
                </div>
            </div>
            break;
        case TaskAnswerType.CheckBoxAnswer:
            <div class="col-md-11">
                <div id="answerSymbols">
                    @{ int i = 1;}
                    @foreach (var nt in Model.AnswerList)
                    {
                        <div class="panel panel-default">
                            <span class="button-checkbox">
                                <button type="button" class="btn btn-success active" data-color="success"></button>&emsp;@nt
                                <input class="hidden answerCheckboxes" autocomplete="off" type="checkbox" value="@(i++)">
                            </span>
                        </div>
                    }
                </div>
            </div>
                            break;
                        default:
                            <div class="col-md-offset-2 col-md-7">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" style="text-align:center">Введите ответ</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input id="answer" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                            </div>
                                break;
                        }
    <div class="form-group">
        @if (Model.GotRightAnswer)
        {
            <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading" style="text-align:center">
                        <h4>Вы уже дали верный ответ</h4>
                    </div>
                </div>
            </div>
        }
        else if (Model.LeftAttemptsCount == 0)
        {
            <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-danger">
                    <div class="panel-heading" style="text-align:center">
                        <h4>Попытки закончились</h4>
                    </div>
                </div>
            </div>
        }
        else
        {
            var buttonText = Model.IsControl ? "Отправить ответ" : "Проверить ответ";
            <div class="col-md-offset-3 col-md-10">
                <input type="button" id="sendAnswer" autocomplete="off" onclick="sendUserAnswer();" value="@buttonText" class="btn btn-lg btn-success" />
            </div>
            <div class="col-md-offset-2 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="answerCorrectness"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
